.donationContainer {
    display: flexbox;
    flex-direction: column;
    width: 76rem;

    background-color: rgba(103, 137, 131, .4);

    padding: 25px;
    margin-bottom: 1rem;

    padding-left: 4rem;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.donationContainer > h1 {
    color: aliceblue;
}

.donationContainer > p {
    color: aliceblue;
}

.donationContainer:hover {
    background-color: rgba(145, 204, 193, 0.3);
    cursor: pointer;
    transition: 200ms;
}