@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@500&display=swap");

body {
  background-color: #f0e9d2;

  font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;

  margin: 0;
}

.login_container {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
}

.loginMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register_container {
}

#login_button {
  border-radius: 4px;
  border: 1px;
  background-color: rgba(233, 233, 248, 0.7);

  float: right;

  width: 20vh;
  height: 5vh;
  display: block;
  margin-top: 1vh;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#login_button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.credentialsLogin {
  display: block;
  width: 300px;
  height: 24px;
  border: 0;
  font-size: 14px;
  padding: 3px;

  font-weight: 500;
  letter-spacing: 1px;

  transition: 200ms;
  background-color: #ffffff;
  color: #000000;

  border-radius: 50px;
  width: 200px;
  padding-left: 50px;
}

.login_container > p:hover {
  cursor: pointer;
}
