 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@500&display=swap');

body {
    background-color: #f0e9d2;
    
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;

    margin: 0;
}

/* 
.login_container {
    position: relative;
    top: 6em;

    background-color: #21252b;
    color: #e5e5e7;

    padding: 20px 40px;

    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login_container h2 {
    font-weight: 100;
    font-size: 22px;
}

   input {
    display: block;
    width: 300px;
    height: 24px;
    border: 0;
    font-size: 14px;
    padding: 3px;

    font-weight: 500;
    letter-spacing: 1px;

    transition: 200ms;
    background-color: #424549;
    color: #e5e5e7;
} */

/*       
.input_click {
    transition: 200ms;
    background-color: #e5e5e7;
    color: #1e2124;
}

p {
    font-size: 14px;
    margin-right: 4px;
}

a {
    color: #e5e5e7;
    text-decoration: none;
    font-size: 14px;
    margin-right: 4px;
    margin-top: 14px;
}

.register_container {
    display: flex;
}

a:hover{
    transition: 150ms;
    color: #5865f2;
    text-decoration: underline;
    cursor: pointer;
}

#login_button {

    display: block;

    margin-top: 26.26px;

    font-weight: 500;
    color: #1e2124;
    font-size: 17px;

    border: 5;
    border-style: solid;
    border-color: #e5e5e7;
    border-radius: 4px;


    width: 306px;
    height: 37.87px;
    background-color: #e5e5e7;
}

#login_button:hover{
    transition: 150ms;
    cursor: pointer;
    border-color: #5865f2;
    border-radius: 4px;
}

.sign-in-providers {
    border-color: #e5e5e7;
    border-top: 1px solid;
    margin-top: 2em;
    padding-top: 1em;
    display: block;
}

.sign-in-providers img {
    width: 20px;
    height: 20px;
    margin-left: 0.5em;
}

.sign-in-providers img:hover {
    cursor: pointer;
} */