body {
    background-color: #ffffff;
}

.maincontainer { 

    display: flex;
    flex-direction: column;


    justify-content: center;
    align-items: start;

    padding: 100px;
    width: 100%;
}